<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinteros.DevUtils.8" version="8.1.1705.03" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net452" />
</packages>